@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&diplay=swap');
/* -------------- SITE THEME ----------> */

:root
{
--color-primary: #de1313;
--color-secondary: #ac4747;
--color-selected: #b1b1b1;
--color-success: #1ad723;
--color-warning: #ff0000;
--color-white: #ffffff;
--color-info-dark: #808080;
--color-info-light: #bcbcbc;
--color-dark: #323232;
--color-light: #efefef;
--color-primary-variant: #ed6767;
--color-dark-variant: #612929;
--color-background: #e1e1e1;

--color-notification-backgroud:#ed6767;
--color-text-muted:#000000;
--color-my-pale-grey:#bcbcbc;
--color-my-strong-grey:#323232;

--color-highlighted:rgb(196, 19, 19);
--color-highlighted-text: #ffffff;

--color-normal: #bcbcbc;
--color-normal-text: #323232;


--card-border-radious: 1.4rem;
--border-radious-1: 0.4rem;
--border-radious-2: 0.8rem;
--border-radious-3: 1.2rem;

--card-padding: 1.8rem;
--padding-1: 1.2rem;

--box-shadow: 0 2rem 3rem var(--color-light);

}

* 
{
    margin: 0;
    padding: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html
{
    font-size: 14px;
}

body
{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color:var(--color-dark);
}

a {
    color: var(--color-dark);
}

img
{
    display: block;
    width: 100%;
}

h1
{
    font-weight: 800;
    font-size: 1.8rem;
    margin-top: 1.2rem;
}

h2
{
    font-size: 1.4rem;
}

h3
{
    font-size: 0.87rem;
}

h4
{
    font-size: 0.8rem;
}

h5
{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo
{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow-x: hidden;
}

.granted{
    color: green;
}

.container{
    display: grid;
    width: 95%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.text-muted
{
    color:#000000;
}

p{
    color: var(--color-dark-variant);
}

b
{
    color: var(--color-dark);
}

.primary
{
    color: var(--color-primary);
}

.succes{
    color: var(--color-success);
}

.warning
{
    color: var(--color-warning);
}

aside
{
    margin-top: 1.4rem;
    height: 100vh;
    background-color: var(--color-primary);
    border-radius: 1rem;
}

aside .top {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .logo
{
    display: flex;
    gap: 0.8rem;
}

aside .logo img
{
    width: 3.5ren;
    height: 3.5rem;
}

aside .close
{
    display: none;
}

aside .sidebar{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position:relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom:2rem;
    width: 100%;
}

aside .sidebar a.active{
    background:var(--color-light);
    color:var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content:'';
    width: 6px;
    height: 100%;
    background:var(--color-primary);
}

aside .sidebar a:hover{
    color:var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .notification-count{
    background: var(--color-notification-backgroud);
    color: var(--color-light);
    margin-left: 5px;
    padding: 2px 7px;
    font-size: 13px;
    border-radius: var(--border-radious-1);
}

/* ----------------------------- END OF ASIDE ------------------------ */


/* ----------------------------- begining OF main ------------------------ */


main
{
    align-items: left;
    width: 100%;
    margin-top: 1.2rem;
}

main .date
{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radious-1);
    margin-top: 1rem;
    padding: 0.5rem 2.6rem;
}

.textbox
{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radious-1);
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 2.6rem;
}

main .form .textbox button{
    background: var(--color-normal);
    color: var(--color-normal-text);
    width: 50%;
    height: 35px;
    border-radius: var(--padding-1);
    transition: all 300ms ease;
}

main .textbox button:hover{
    background: var(--color-highlighted);
    color: var(--color-highlighted-text);
    width: 50%;
    height: 35px;
}

main .click-button
{
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-normal-text);
    width: 10rem;
    height: 3rem;
    align-items: center;
    text-align: center;
}

main .link {
    align-items: center;
    margin-top: 1.2rem;
}

main .link a{
    color: red;
}


main .date input[type="date"]
{
    background: transparent;
    color: var(--color-dark);
}

main .insights
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1.6rem;
}

main .insights > div
{
    background: var(--color-light);
    padding: var(--card-padding);
    border-radius: var(--box-shadow);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover
{
    box-shadow: none;
}

main .insights > div span
{
    background: var(--color-primary-variant);
    border-radius: 50%;
    color: var(--color-dark);
    font-size: 2rem;
}

main .insights > div .middle
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights > div span
{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress 
{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insight .progress .click-button{
    background: red;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle 
{
    fill: none;
    stroke: var(--color-primary);
    stroke-linecap: round;
    stroke-width: 7;
    transform: translate(5px, 5px);
    stroke-dasharray: 200;
}

main .insights .progress .perc-num
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small{
    display: block;
    margin-top: 1.4rem;
}

/* --------------------------------- TABLE DESIGN ------------------------ */

main .table-design
{
    margin-top: 0.5rem;
    width: 75vw;
}

main .table-design h2
{
    margin-bottom: 0.8rem;
}

main .table-design table{
    background: var(--color-light);
    width: 100%;
    border-radius: var(--card-border-radious);
    padding: var(--card-padding);
    text-align:center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .table-design table:hover
{
    box-shadow: none;
} 

main  table tbody td
{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
} 

main  table tbody tr:last-child td
{
    border: none;
} 

main .table-design a {
text-align: center;
display: block;
margin: 1rem auto;
color: var(--color-primary);
}

main .table-design button {
    background: var(--color-normal);
    color: var(--color-normal-text);
    width: 50%;
    height: 35px;
    border-radius: var(--padding-1);
    transition: all 300ms ease;
    }
    

/* ------------------------  FORMS --------------------- */

main .form{
    background: rgb(210, 210, 210);
    display: flex;
    width: 50% ;
    justify-content: left;
    align-items: center;
    margin-top: 2rem;
    border-radius:var(--padding-1) ;
}

main .form h2{
    color: var(--color-dark);
    margin-top:1.2rem;
    margin-left: 0.8rem;
}

main .form h3{
    color: var(--color-dark);
    font-size: 1rem;
    margin-top:1.2rem;
    margin-left: 0.8rem;
}

main .form a{
    background: transparent;
    color:var(--color-primary-variant);
    font-size: 16px;
    transition: all 300ms ease;
}

main .form a:hover{
    background: transparent;
    color:var(--color-primary);
    font-size: 19px;
}


main .form .textbox{
    background: transparent;
    color: var(--color-primary);
    width: 100%;
    border-radius:var(--padding-1) ;
}

main .form .textbox input{
    background: var(--color-normal);
    color: var(--color-normal-text);
    padding: var(--padding-1);
    border-radius:var(--padding-1) ;
    width: 100%;
    height: 35px;
    transition: all 300ms ease;
}

main .form .textbox input:hover{
    background: var(--color-highlighted);
    color: var(--color-highlighted-text);
    padding: var(--padding-1);
    border-radius:var(--padding-1) ;
    width: 100%;
    height: 35px;
}

main .form .textbox select{
    background: var(--color-normal);
    color: var(--color-normal-text);
    width: 35%;
    height: 35px;
    border-radius: var(--padding-1);
    text-align: center;
    transition: all 300ms ease;
}

main .form .textbox select:hover{
    background: var(--color-highlighted);
    color: var(--color-highlighted-text);
    width: 35%;
    height: 35px;
    border-radius: var(--padding-1);
    text-align: center;
    transition: all 300ms ease;
}

main .form .textbox button{
    background: var(--color-normal);
    color: var(--color-normal-text);
    width: 50%;
    height: 35px;
    border-radius: var(--padding-1);
    transition: all 300ms ease;
}

main .form .textbox button:hover{
    background: var(--color-highlighted);
    color: var(--color-highlighted-text);
    width: 50%;
    height: 35px;
}

main .form .checkbx{
    background: transparent;
    margin-top: 5rem;
}

main .educ-text { 
    color: black;
    font-size: 16px;
}

main .educ-text h1{ 
    margin-top: 2;
    font-size: 35px;
    margin-left: 2rem;
}

main .educ-text h3{ 
    color: red;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

main .educ-img {
    align-items: right;
    width: 30rem;
    padding: var(--padding-1);
    margin: 4rem;
}

main .educ-section{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 15fr);
    gap: 5;
}

main .educ-img img{
    height: auto;
    width: 100%;
}

right{
    margin-top: 1.4rem;
}

right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

right .feedbacks{
    background: var(--color-light);
    margin-top: 2rem;
    padding: var(--padding-1);
    border-radius: var(--padding-1);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

right .feedbacks:hover{
    box-shadow: none;
    
}

right .feedbacks .user-comment{
    margin-top: 0.7rem;
}

right .events{
    margin-top: 2rem;
    background: var(--color-light);
    margin-top: 2rem;
    padding: var(--padding-1);
    border-radius: var(--padding-1);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

right .events:hover{
    box-shadow: none;
}